<footer
    class="max-w-4xl lg:mx-auto text-sepia-300 text-sm mt-12 pb-4 md:pb-12 flex flex-col md:flex-row md:items-center justify-between">
    <div class="mb-10 md:mb-0">
        <a class="text-gradient border-b border-gradient hover:text-gradient-none hover:text-white hover:bg-gradient hover:rounded hover:border-0 hover:py-.2 hover:px-1 hover:-mx-1"
            href="mailto:soy@miguelpiedrafita.com">soy@miguelpiedrafita.com</a> &mdash; <a
            class="text-gradient border-b border-gradient hover:text-gradient-none hover:text-white hover:bg-gradient hover:rounded hover:border-0 hover:py-.2 hover:px-1 hover:-mx-1"
            href='{{twitter_url @site.twitter}}' target="_blank">{{ @site.twitter }}</a> on Twitter
    </div>
    {{{ navigation }}}
</footer>