<div class="pt-6 max-w-4xl lg:mx-auto mx-6">
    <nav class="flex items-center justify-between pb-6">
        <div class="color-gradient flex-1 uppercase text-sm font-medium tracking-px text-center md:text-left">
            <a href="{{ @site.url }}">Miguel Piedrafita &mdash; 17-&#65279;year-&#65279;old&nbsp;<span
                    class="inline md:hidden">indie&nbsp;</span>maker</a>
        </div>
        <div class="hidden md:block">
            {{{ navigation }}}
        </div>
    </nav>
</div>