{{!< base}}

<div class="">
    {{{body}}}

    <div class="max-w-6xl lg:mx-auto mx-6">
        {{> footer }}
    </div>

</div>
<div class="fixed bottom-0 right-0 p-4 z-40">
    <button aria-label="Toggle dark theme" id="themeToggle" class="border-2 rounded-full p-1 bg-white focus:outline-none focus:shadow-outline">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
    </button>
</div>