{{!< default}}

<div class="pt-6 max-w-4xl lg:mx-auto mx-6">
  <header class="flex items-center justify-between pb-6">
    <div class="flex-1 text-blue-500 uppercase text-sm font-medium tracking-px text-center md:text-left">
        <h1>Miguel Piedrafita &mdash; 17-&#65279;year-&#65279;old&nbsp;<span
                class="inline md:hidden">indie&nbsp;</span>maker</h1>
    </div>
    <div class="hidden md:block">
        {{{ navigation }}}
    </div>
  </header>
  <div class="mt-16 animation animation-fadeInUp animation-delay-2">
    <h3 class="text-4xl font-semibold bg-white inline -mx-2 box-decoration-break-clone px-2 pt-.2 pb-1">👋 Hi! I'm a 17-year-old maker who loves to build <i>&</i> learn in his free time.</h3>
  </div>
  <div class="mt-12 animation animation-fadeInUp animation-delay-4">
    <p class="font-medium text-xl my-4">I'm currently dedicating most of my time to <a class="border-b-2 border-sepia-900 hover:text-blue-500 hover:border-blue-500" href="https://blogcast.host/?ref=website" target="_blank">Blogcast</a>, a service that uses state of the art text-to-speech technology to automate article narration.</p>
  
    <p class="font-medium text-xl my-4">Before Blogcast, I built <a class="border-b-2 border-sepia-900 hover:text-blue-500 hover:border-blue-500" href="https://unmarkdocs.co/?ref=website" target="_blank">UnMarkDocs</a>, a software as a service application that generated beautiful documentation pages using a superpowered in-house markdown flavour. UnMarkDocs was my first paid app and an amazing learning experience on how it is to sell something in the real world.</p>
  
    <p class="font-medium text-xl my-4">I started and mantain an <a class="border-b-2 border-sepia-900 hover:text-blue-500 hover:border-blue-500" href="https://coderyouth.club/?ref=website" target="_blank">online coding community for teenagers</a>, and <a class="border-b-2 border-sepia-900 hover:text-blue-500 hover:border-blue-500" href="https://ghuser.io/m1guelpf" target="_blank">regularly contribute to open source</a>, with over 400 projects helped. I've also started many other projects that unfortunately never saw the light of day, like <a class="border-b-2 border-sepia-900 hover:text-blue-500 hover:border-blue-500" href="https://snaptier.com/?ref=website" target="_blank">Snaptier</a> or Maker Army.</p>
  
    <p class="font-medium text-xl my-4">I have a deep interest on philosophy and psychology, as well as maths and knowledge nuggets I find around when browsing The Internet.</p>
  </div>
</div>