{{!< default}}

<div class="pt-6 max-w-4xl lg:mx-auto mx-6">
    {{> header }}
    <div class="mt-16 animation animation-fadeInUp animation-delay-2">
        <h3 class="text-4xl font-semibold bg-white inline -mx-2 box-decoration-break-clone px-2 pt-.2 pb-1">Join my newsletter</h3>
    </div>
    <div id="article" class="mt-12 animation animation-fadeInUp animation-delay-4">
        <p><span class="highlight">I'll email you every saturday if I've published any new articles.</span> Right now the email is automated, but I plan to start writing them manually at some point, including updates on what I've been working on.</p>
    </div>

    <div class="max-w-2xl mx-auto w-full text-xl">
        <form class="flex items-center items-stretch justify-center" method="POST" data-newsletter-form>
            <input type="email"
                class="flex-1 rounded-l-full p-4 font-medium focus:outline-none focus:shadow-outline bg-white dark:bg-sepia-100"
                placeholder="panic@thedis.co" required data-email-field>
            <button
                class="rounded-r-full bg-gradient text-white py-4 px-6 font-semibold focus:outline-none focus:shadow-outline"
                style="transition: color 1s ease-in;" type="submit"><span>Subscribe</span></button>
        </form>
        <div class="text-center bg-gradient text-white rounded-full font-semibold py-4 px-6" style="display:none;"
            data-newsletter-success>
            <p style="transition: color 1s ease-in;">You've been successfully subscribed!</p>
        </div>
    </div>
</div>