{{!< default}}

<div class="pt-6 max-w-6xl lg:mx-auto mx-6">
  {{> header }}
  {{#post}}
    <div class="mt-16 animation animation-fadeInUp animation-delay-2">
      <h3 class="inline-block rounded-lg m-0 mb-8 text-sepia-900 bg-white text-4xl px-3 font-main" style="transform: rotate(-1deg);box-shadow: 0 0 4px var(--white);transition:color 1s ease-in, background 1s ease-in,box-shadow 1s ease-in;">{{ title }}</h3>
    </div>
    <div id="article" class="mt-12 animation animation-fadeInUp animation-delay-4">
      {{ content }}
    </div>
  {{/post}}
</div>