@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(24px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animation {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animation-fadeInUp {
    animation-name: fadeInUp;
}

.animation-delay-2 {
    animation-delay: .2s;
}

.animation-delay-4 {
    animation-delay: .4s;
}